.app:before {
  content: '';
  background: url('/public/images/background.jpg') repeat center center/cover;
  position: absolute;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* z-index: -1; */
}
.app {
  margin-top: 25%;
}
.navbar:before {
  content: '';
  background: url('/public/images/background.jpg') no-repeat center center/cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.logo {
  border-radius: 50%;
}

.welcomeText {
  margin-top: 25%;
  text-align: center;
  justify-content: center;
}
